/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  font-family: 'Cabin Condensed', helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

#home p {
  margin-bottom: 0;
}

#home h2 {
  margin-top: 1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header {
  text-align: left;
  background: #252525 url('/images/pw_maze_black.png');
  border-right: solid 1px #000;
  bottom: 0;
  left: 0;
  padding: 2em 20px 0 20px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 170px;
  z-index: 10;
  line-height: 1.5em;
}

header a, header a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 2em;
}

header .subtitle {
  color: #aaa;
  font-size: 1em;
  margin: 0;
  line-height: 1.2em;
}

.site {
  font-size: 110%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em 240px;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .rest {
    text-align: right;
    margin: 0.2em 0 2em;
  }

  .site .meta {
    color: #aaa;
  }

footer {
  color: #666;
  border-top: 4px solid #eee;
  padding: 10px 0;
  margin: 2em 20px 20px 240px;
}

footer li {
  display: inline;
  list-style: none;
  padding: 8px;
}

footer img {
  vertical-align: middle;
  padding-right: 7px;
}

footer a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

iframe.twitter-share-button {
  vertical-align: middle;
}