body {
  font-size: 2em;
}

header {
  position: relative;
  width: 100%;
  line-height: normal;
  padding: 20px;
  overflow: auto;
}

h1 {
  margin: 0;
}

header a, header a:visited {
  margin-bottom: 0;
}

.site {
  text-align: justify;
  width: 100%;
  margin: 20px;
}

.site h1 {
  margin: 1em 0;
}

footer {
  color: #666;
  border-top: 4px solid #eee;
  padding: 10px 0;
  margin: auto;
}

footer li {
  display: inline;
  list-style: none;
  padding: 8px;
}