---
layout: default
title: Redo The Web - François Zaninotto's blog
---

<div id="home">

<h1>Latest entries</h1>

<ul class="posts">
{% for post in site.posts limit:4 %}
{% if post.image != null %}
<img src="{{ post.image }}" class="postImage"/>
{% endif %}
<h2 style="clear:left">
    <a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<span class="date">{{ post.date | date_to_string }}</span>
</h2>
<p>
{{ post.excerpt }}
<a href="{{ post.url }}">Read more&nbsp;&raquo;</a>
</p>
<div class="rest">
<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post.title }} - Redo The Web" data-url="http://www.redotheweb.com{{ post.url }}" data-via="francoisz">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endfor %}
</ul>

<h1>Older posts</h1>

<ul class="posts">
{% for post in site.posts offset:4 %}
<li><span class="date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
{% if post.popular %}<span class="label label-success">popular</span>{% endif %}</li>
{% endfor %}
</ul>

</div>
