---
layout: default
title: Redo The Web - François Zaninotto's blog
---

<div id="home">

<h1>Latest entries</h1>

<ul class="posts">
{% for post in site.posts limit:4 %}
<h2>
    <a href="{{ post.url }}">{{ post.title }}</a>&nbsp;&nbsp;<span>{{ post.date | date_to_string }}</span>
</h2>
<p>
    {{ post.excerpt }}
</p>
<div class="rest">
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ post.url }}" data-via="francoisz">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<a href="{{ post.url }}">Read more &raquo;</a><br/>
</div>
{% endfor %}
</ul>

<h1>Older posts</h1>

<ul class="posts">
{% for post in site.posts offset:4 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

</div>