<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:700' rel='stylesheet' type='text/css'>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="François Zaninotto" />
   <link href="http://feeds.feedburner.com/redotheweb_" rel="alternate" title="Redo The Web" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<header>
  <h1><a href="/">Redo The Web</a></h1>
  <div class="subtitle">How do we design, develop, and run websites and web applications today?</div>
</header>


<div class="site">

  {{ content }}

</div>

<footer>
  <ul>
      <li><img src="/images/glyphicons_001_leaf.png" />
      Redo The Web, a blog by François Zaninotto</li>
      <li><img src="/images/glyphicons_401_github.png" />
      <a href="http://github.com/fzaninotto/">fzaninotto</a></li>
      <li><img src="/images/glyphicons_411_twitter.png" />
      <a href="http://twitter.com/francoisz/">@francoisz</a></li>
      <li><img src="/images/glyphicons_417_rss.png" />
      <a href="http://feeds.feedburner.com/redotheweb_">rss</a></li>
  </ul>
</footer>

<!-- Google Analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-26354577-2']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- Google Analytics end -->

</body>
</html>